{% extends 'base.html' %}

{% block body %}
        <div class="container mt-3 mb-4">
                <div class="d-flex"><h1 style="color: rgba(255, 166, 0, 0.808);">Comunidade de </h1><h1 style="color: rgba(40, 96, 150, 0.897); margin-left: 13px;">Programação</h1></div>
                <h4>Site para dúvidas e comentários sobre programação e TI.</h4>
                <hr>
                {% for post in posts %}
                        <div class="row border mt-4 p-3 meupost d-flex flex-wrap justify-content-around">
                                <div class="col col-3">
                                        <div class="image pe-2 d-flex justify-content-center">
                                                <img src="../static/fotos_perfil/{{post.autor.foto_perfil }}" id="img_perfil" width="200">
                                        </div>
                                        <strong class="d-flex justify-content-center">{{ post.autor.username }}</strong>
                                        <div class="row justify-content-center">
                                                <div class="col w-100" style="text-align: center; max-width: 600px;">
                                                        {% if post.autor.linguagens == '' %}
                                                                <button type="button" class="btn btn-success mt-2" disabled>{{ 'Não Informado' }}</button>
                                                        {% else %}
                                                                {% for linguagem in post.autor.linguagens.split(';') %}
                                                                        <button type="button" class="btn btn-success mt-2" disabled>{{ linguagem }}</button>
                                                                {% endfor %}
                                                        {% endif %}
                                                </div>
                                        </div> 
                                </div>
                                <div class="col col-9">
                                        <a class="link_titulo" style="text-decoration: none; color: rgba(40, 96, 150, 0.897);" href="{{ url_for('exibir_post', post_id=post.id) }}"><h3>{{ post.titulo }}</h3></a>
                                        <p>{{ post.corpo }}</p>
                                </div>
                        </div>
                {% endfor %}
        </div>
{% endblock %}
